body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#startButton {
    background-color: green;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
    border-radius: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

canvas {
    display: none;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
}

#instructions {
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    max-width: 200px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.theme-selector {
    display: flex;
    justify-content: center;
}

.theme-selector button {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.star {
    background-image: url('star-bg.jpg');
    background-size: cover;
}